set_location IN_MUX_bfv_21_4_0_ 21 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_4_0_ 23 4 0 #ICE_CARRY_IN_MUX
set_location uart_rx.M_state_q_ns_1_0__m19_0_a2_1_uart_rx.M_newData_q_REP_LUT4_0 23 2 1 #SB_LUT4
set_location uart_rx.M_savedData_q_7_THRU_LUT4_0 24 2 1 #SB_LUT4
set_location uart_rx.M_savedData_q_6_THRU_LUT4_0 24 1 0 #SB_LUT4
set_location uart_rx.M_savedData_q_5_THRU_LUT4_0 24 2 3 #SB_LUT4
set_location uart_rx.M_savedData_q_4_THRU_LUT4_0 24 2 6 #SB_LUT4
set_location uart_rx.M_savedData_q_3_THRU_LUT4_0 24 2 7 #SB_LUT4
set_location uart_rx.M_savedData_q_2_THRU_LUT4_0 24 2 2 #SB_LUT4
set_location uart_rx.M_savedData_q_1_THRU_LUT4_0 24 2 5 #SB_LUT4
set_location uart_rx.M_savedData_q_0_THRU_LUT4_0 24 2 4 #SB_LUT4
set_location uart_rx.M_rxd_q_THRU_LUT4_0 26 1 2 #SB_LUT4
set_location uart_tx.un1_M_ctr_q_3_cry_5_c 21 4 5 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_4_c 21 4 4 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_3_c 21 4 3 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_2_c 21 4 2 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_1_c 21 4 1 #SB_CARRY
set_location uart_tx.un1_M_ctr_q_3_cry_0_c 21 4 0 #SB_CARRY
set_location uart_tx.M_txReg_q_RNO_5 22 3 3 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_4 22 3 4 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_3 23 3 0 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_2 22 4 2 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_1 22 2 0 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO_0 22 4 3 #SB_LUT4
set_location uart_tx.M_txReg_q_RNO 22 1 2 #SB_LUT4
set_location uart_tx.M_txReg_q 22 1 2 #SB_DFFSS
set_location uart_tx.M_state_q_RNO[1] 21 3 2 #SB_LUT4
set_location uart_tx.M_state_q_RNO_0[0] 21 3 6 #SB_LUT4
set_location uart_tx.M_state_q_RNO[0] 21 3 7 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM_1[0] 22 3 1 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM_0[0] 21 3 1 #SB_LUT4
set_location uart_tx.M_state_q_RNILEFM[0] 21 3 0 #SB_LUT4
set_location uart_tx.M_state_q[1] 21 3 2 #SB_DFF
set_location uart_tx.M_state_q[0] 21 3 7 #SB_DFF
set_location uart_tx.M_savedData_q_RNO[6] 23 3 5 #SB_LUT4
set_location uart_tx.M_savedData_q_RNO[5] 24 3 3 #SB_LUT4
set_location uart_tx.M_savedData_q_RNO[4] 23 4 7 #SB_LUT4
set_location uart_tx.M_savedData_q_RNO[3] 22 4 0 #SB_LUT4
set_location uart_tx.M_savedData_q_RNO[2] 23 3 7 #SB_LUT4
set_location uart_tx.M_savedData_q_RNO[1] 24 3 5 #SB_LUT4
set_location uart_tx.M_savedData_q_RNO[0] 22 3 0 #SB_LUT4
set_location uart_tx.M_savedData_q[6] 23 3 5 #SB_DFF
set_location uart_tx.M_savedData_q[5] 24 3 3 #SB_DFF
set_location uart_tx.M_savedData_q[4] 23 4 7 #SB_DFF
set_location uart_tx.M_savedData_q[3] 22 4 0 #SB_DFF
set_location uart_tx.M_savedData_q[2] 23 3 7 #SB_DFF
set_location uart_tx.M_savedData_q[1] 24 3 5 #SB_DFF
set_location uart_tx.M_savedData_q[0] 22 3 0 #SB_DFF
set_location uart_tx.M_ctr_q_RNO[6] 21 4 7 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[5] 22 4 7 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[4] 21 4 4 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[3] 21 4 3 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[2] 22 4 5 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[1] 21 4 1 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[6] 21 4 6 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[5] 21 4 5 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO_0[2] 21 4 2 #SB_LUT4
set_location uart_tx.M_ctr_q_RNO[0] 21 4 0 #SB_LUT4
set_location uart_tx.M_ctr_q_RNIOOUF1[6] 21 3 3 #SB_LUT4
set_location uart_tx.M_ctr_q_RNI3KTJ2[0] 21 3 4 #SB_LUT4
set_location uart_tx.M_ctr_q[6] 21 4 7 #SB_DFF
set_location uart_tx.M_ctr_q[5] 22 4 7 #SB_DFF
set_location uart_tx.M_ctr_q[4] 21 4 4 #SB_DFF
set_location uart_tx.M_ctr_q[3] 21 4 3 #SB_DFF
set_location uart_tx.M_ctr_q[2] 22 4 5 #SB_DFF
set_location uart_tx.M_ctr_q[1] 21 4 1 #SB_DFF
set_location uart_tx.M_ctr_q[0] 21 4 0 #SB_DFF
set_location uart_tx.M_bitCtr_q_RNO[2] 22 3 2 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNO[1] 22 3 7 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNO[0] 22 3 5 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNIR97K3[1] 21 3 5 #SB_LUT4
set_location uart_tx.M_bitCtr_q_RNIMHCR[0] 22 3 6 #SB_LUT4
set_location uart_tx.M_bitCtr_q[2] 22 3 2 #SB_DFF
set_location uart_tx.M_bitCtr_q[1] 22 3 7 #SB_DFF
set_location uart_tx.M_bitCtr_q[0] 22 3 5 #SB_DFF
set_location uart_rx.M_state_q_ns_1_0_.m22_0 23 1 4 #SB_LUT4
set_location uart_rx.M_state_q_ns_1_0_.m19_0_o2 22 2 2 #SB_LUT4
set_location uart_rx.M_state_q_ns_1_0_.m19_0_a2_1 22 2 4 #SB_LUT4
set_location uart_rx.M_state_q_ns_1_0_.m19_0_0 23 3 1 #SB_LUT4
set_location uart_rx.M_state_q_RNO[1] 23 1 5 #SB_LUT4
set_location uart_rx.M_state_q_RNO[0] 23 3 2 #SB_LUT4
set_location uart_rx.M_state_q_RNIRDQO7_0[0] 22 2 7 #SB_LUT4
set_location uart_rx.M_state_q_RNIRDQO7[0] 21 2 1 #SB_LUT4
set_location uart_rx.M_state_q_RNIHM1R[0] 23 2 2 #SB_LUT4
set_location uart_rx.M_state_q_RNI62U94[0] 23 1 6 #SB_LUT4
set_location uart_rx.M_state_q[1] 23 1 5 #SB_DFF
set_location uart_rx.M_state_q[0] 23 3 2 #SB_DFF
set_location uart_rx.M_savedData_q[7] 24 2 1 #SB_DFFE
set_location uart_rx.M_savedData_q[6] 24 1 0 #SB_DFFE
set_location uart_rx.M_savedData_q[5] 24 2 3 #SB_DFFE
set_location uart_rx.M_savedData_q[4] 24 2 6 #SB_DFFE
set_location uart_rx.M_savedData_q[3] 24 2 7 #SB_DFFE
set_location uart_rx.M_savedData_q[2] 24 2 2 #SB_DFFE
set_location uart_rx.M_savedData_q[1] 24 2 5 #SB_DFFE
set_location uart_rx.M_savedData_q[0] 24 2 4 #SB_DFFE
set_location uart_rx.M_rxd_q 26 1 2 #SB_DFF
set_location uart_rx.M_newData_q 23 2 1 #SB_DFF
set_location uart_rx.M_ctr_q_RNO[6] 21 2 4 #SB_LUT4
set_location uart_rx.M_ctr_q_RNO[5] 21 2 3 #SB_LUT4
set_location uart_rx.M_ctr_q_RNO[4] 21 2 7 #SB_LUT4
set_location uart_rx.M_ctr_q_RNO[3] 21 2 6 #SB_LUT4
set_location uart_rx.M_ctr_q_RNO[2] 21 2 5 #SB_LUT4
set_location uart_rx.M_ctr_q_RNO[1] 21 2 2 #SB_LUT4
set_location uart_rx.M_ctr_q_RNO[0] 21 2 0 #SB_LUT4
set_location uart_rx.M_ctr_q_RNILBSE3[6] 22 2 6 #SB_LUT4
set_location uart_rx.M_ctr_q_RNIBJBV1[1] 22 2 5 #SB_LUT4
set_location uart_rx.M_ctr_q_RNIAC6F2[4] 21 1 5 #SB_LUT4
set_location uart_rx.M_ctr_q_RNI5PLV[3] 21 1 4 #SB_LUT4
set_location uart_rx.M_ctr_q_RNI1LLV[1] 22 2 1 #SB_LUT4
set_location uart_rx.M_ctr_q[6] 21 2 4 #SB_DFFSR
set_location uart_rx.M_ctr_q[5] 21 2 3 #SB_DFFSR
set_location uart_rx.M_ctr_q[4] 21 2 7 #SB_DFFSR
set_location uart_rx.M_ctr_q[3] 21 2 6 #SB_DFFSR
set_location uart_rx.M_ctr_q[2] 21 2 5 #SB_DFFSR
set_location uart_rx.M_ctr_q[1] 21 2 2 #SB_DFFSR
set_location uart_rx.M_ctr_q[0] 21 2 0 #SB_DFFSR
set_location uart_rx.M_bitCtr_q_RNO[2] 23 2 0 #SB_LUT4
set_location uart_rx.M_bitCtr_q_RNO[1] 23 2 3 #SB_LUT4
set_location uart_rx.M_bitCtr_q_RNO[0] 23 2 4 #SB_LUT4
set_location uart_rx.M_bitCtr_q_RNI578A4[0] 22 2 3 #SB_LUT4
set_location uart_rx.M_bitCtr_q[2] 23 2 0 #SB_DFF
set_location uart_rx.M_bitCtr_q[1] 23 2 3 #SB_DFF
set_location uart_rx.M_bitCtr_q[0] 23 2 4 #SB_DFF
set_location reset_cond.M_stage_q_RNO[3] 20 2 5 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[2] 20 2 3 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[1] 20 2 0 #SB_LUT4
set_location reset_cond.M_stage_q_RNO[0] 20 2 7 #SB_LUT4
set_location reset_cond.M_stage_q[3] 20 2 5 #SB_DFF
set_location reset_cond.M_stage_q[2] 20 2 3 #SB_DFF
set_location reset_cond.M_stage_q[1] 20 2 0 #SB_DFF
set_location reset_cond.M_stage_q[0] 20 2 7 #SB_DFF
set_location greeter.un1_M_count_q_1_cry_2_c 23 4 2 #SB_CARRY
set_location greeter.un1_M_count_q_1_cry_1_c 23 4 1 #SB_CARRY
set_location greeter.un1_M_count_q_1_cry_0_c 23 4 0 #SB_CARRY
set_location greeter.rom.letter_1_6_0_.m9_0 24 3 4 #SB_LUT4
set_location greeter.rom.letter_1_6_0_.m5_0 23 3 3 #SB_LUT4
set_location greeter.rom.letter_1_6_0_.m23_i 23 3 4 #SB_LUT4
set_location greeter.rom.letter_1_6_0_.m20_i 24 3 2 #SB_LUT4
set_location greeter.rom.letter_1_6_0_.m17_0 23 4 6 #SB_LUT4
set_location greeter.rom.letter_1_6_0_.m14_0 23 4 5 #SB_LUT4
set_location greeter.rom.letter_1_6_0_.m12_i 23 3 6 #SB_LUT4
set_location greeter.M_state_q_RNO_4 24 3 6 #SB_LUT4
set_location greeter.M_state_q_RNO_3 23 1 1 #SB_LUT4
set_location greeter.M_state_q_RNO_2 23 2 5 #SB_LUT4
set_location greeter.M_state_q_RNO_1 23 1 2 #SB_LUT4
set_location greeter.M_state_q_RNO_0 23 2 7 #SB_LUT4
set_location greeter.M_state_q_RNO 23 2 6 #SB_LUT4
set_location greeter.M_state_q 23 2 6 #SB_DFF
set_location greeter.M_count_q_RNO[3] 23 4 3 #SB_LUT4
set_location greeter.M_count_q_RNO[2] 23 4 2 #SB_LUT4
set_location greeter.M_count_q_RNO[1] 23 4 1 #SB_LUT4
set_location greeter.M_count_q_RNO[0] 23 4 0 #SB_LUT4
set_location greeter.M_count_q[3] 23 4 3 #SB_DFF
set_location greeter.M_count_q[2] 23 4 2 #SB_DFF
set_location greeter.M_count_q[1] 23 4 1 #SB_DFF
set_location greeter.M_count_q[0] 23 4 0 #SB_DFF
set_location GND -1 -1 -1 #GND
set_io usb_tx M9
set_io usb_rx P14
set_io rst_n P8
set_io led[7] N14
set_io led[6] M12
set_io led[5] L14
set_io led[4] L12
set_io led[3] K14
set_io led[2] K12
set_io led[1] K11
set_io led[0] J11
set_io clk P7
