ble_pack reset_cond.M_stage_q_1_LC_20_2_0 { reset_cond.M_stage_q_RNO[1], reset_cond.M_stage_q[1] }
ble_pack reset_cond.M_stage_q_2_LC_20_2_3 { reset_cond.M_stage_q_RNO[2], reset_cond.M_stage_q[2] }
ble_pack reset_cond.M_stage_q_3_LC_20_2_5 { reset_cond.M_stage_q_RNO[3], reset_cond.M_stage_q[3] }
ble_pack reset_cond.M_stage_q_0_LC_20_2_7 { reset_cond.M_stage_q_RNO[0], reset_cond.M_stage_q[0] }
clb_pack LT_20_2 { reset_cond.M_stage_q_1_LC_20_2_0, reset_cond.M_stage_q_2_LC_20_2_3, reset_cond.M_stage_q_3_LC_20_2_5, reset_cond.M_stage_q_0_LC_20_2_7 }
set_location LT_20_2 20 2
ble_pack uart_rx.M_ctr_q_RNI5PLV_3_LC_21_1_4 { uart_rx.M_ctr_q_RNI5PLV[3] }
ble_pack uart_rx.M_ctr_q_RNIAC6F2_4_LC_21_1_5 { uart_rx.M_ctr_q_RNIAC6F2[4] }
clb_pack LT_21_1 { uart_rx.M_ctr_q_RNI5PLV_3_LC_21_1_4, uart_rx.M_ctr_q_RNIAC6F2_4_LC_21_1_5 }
set_location LT_21_1 21 1
ble_pack uart_rx.M_ctr_q_0_LC_21_2_0 { uart_rx.M_ctr_q_RNO[0], uart_rx.M_ctr_q[0] }
ble_pack uart_rx.M_state_q_RNIRDQO7_0_LC_21_2_1 { uart_rx.M_state_q_RNIRDQO7[0] }
ble_pack uart_rx.M_ctr_q_1_LC_21_2_2 { uart_rx.M_ctr_q_RNO[1], uart_rx.M_ctr_q[1] }
ble_pack uart_rx.M_ctr_q_5_LC_21_2_3 { uart_rx.M_ctr_q_RNO[5], uart_rx.M_ctr_q[5] }
ble_pack uart_rx.M_ctr_q_6_LC_21_2_4 { uart_rx.M_ctr_q_RNO[6], uart_rx.M_ctr_q[6] }
ble_pack uart_rx.M_ctr_q_2_LC_21_2_5 { uart_rx.M_ctr_q_RNO[2], uart_rx.M_ctr_q[2] }
ble_pack uart_rx.M_ctr_q_3_LC_21_2_6 { uart_rx.M_ctr_q_RNO[3], uart_rx.M_ctr_q[3] }
ble_pack uart_rx.M_ctr_q_4_LC_21_2_7 { uart_rx.M_ctr_q_RNO[4], uart_rx.M_ctr_q[4] }
clb_pack LT_21_2 { uart_rx.M_ctr_q_0_LC_21_2_0, uart_rx.M_state_q_RNIRDQO7_0_LC_21_2_1, uart_rx.M_ctr_q_1_LC_21_2_2, uart_rx.M_ctr_q_5_LC_21_2_3, uart_rx.M_ctr_q_6_LC_21_2_4, uart_rx.M_ctr_q_2_LC_21_2_5, uart_rx.M_ctr_q_3_LC_21_2_6, uart_rx.M_ctr_q_4_LC_21_2_7 }
set_location LT_21_2 21 2
ble_pack uart_tx.M_state_q_RNILEFM_0_LC_21_3_0 { uart_tx.M_state_q_RNILEFM[0] }
ble_pack uart_tx.M_state_q_RNILEFM_0_0_LC_21_3_1 { uart_tx.M_state_q_RNILEFM_0[0] }
ble_pack uart_tx.M_state_q_1_LC_21_3_2 { uart_tx.M_state_q_RNO[1], uart_tx.M_state_q[1] }
ble_pack uart_tx.M_ctr_q_RNIOOUF1_6_LC_21_3_3 { uart_tx.M_ctr_q_RNIOOUF1[6] }
ble_pack uart_tx.M_ctr_q_RNI3KTJ2_0_LC_21_3_4 { uart_tx.M_ctr_q_RNI3KTJ2[0] }
ble_pack uart_tx.M_bitCtr_q_RNIR97K3_1_LC_21_3_5 { uart_tx.M_bitCtr_q_RNIR97K3[1] }
ble_pack uart_tx.M_state_q_RNO_0_0_LC_21_3_6 { uart_tx.M_state_q_RNO_0[0] }
ble_pack uart_tx.M_state_q_0_LC_21_3_7 { uart_tx.M_state_q_RNO[0], uart_tx.M_state_q[0] }
clb_pack LT_21_3 { uart_tx.M_state_q_RNILEFM_0_LC_21_3_0, uart_tx.M_state_q_RNILEFM_0_0_LC_21_3_1, uart_tx.M_state_q_1_LC_21_3_2, uart_tx.M_ctr_q_RNIOOUF1_6_LC_21_3_3, uart_tx.M_ctr_q_RNI3KTJ2_0_LC_21_3_4, uart_tx.M_bitCtr_q_RNIR97K3_1_LC_21_3_5, uart_tx.M_state_q_RNO_0_0_LC_21_3_6, uart_tx.M_state_q_0_LC_21_3_7 }
set_location LT_21_3 21 3
ble_pack uart_tx.M_ctr_q_0_LC_21_4_0 { uart_tx.M_ctr_q_RNO[0], uart_tx.M_ctr_q[0], uart_tx.un1_M_ctr_q_3_cry_0_c }
ble_pack uart_tx.M_ctr_q_1_LC_21_4_1 { uart_tx.M_ctr_q_RNO[1], uart_tx.M_ctr_q[1], uart_tx.un1_M_ctr_q_3_cry_1_c }
ble_pack uart_tx.M_ctr_q_RNO_0_2_LC_21_4_2 { uart_tx.M_ctr_q_RNO_0[2], uart_tx.un1_M_ctr_q_3_cry_2_c }
ble_pack uart_tx.M_ctr_q_3_LC_21_4_3 { uart_tx.M_ctr_q_RNO[3], uart_tx.M_ctr_q[3], uart_tx.un1_M_ctr_q_3_cry_3_c }
ble_pack uart_tx.M_ctr_q_4_LC_21_4_4 { uart_tx.M_ctr_q_RNO[4], uart_tx.M_ctr_q[4], uart_tx.un1_M_ctr_q_3_cry_4_c }
ble_pack uart_tx.M_ctr_q_RNO_0_5_LC_21_4_5 { uart_tx.M_ctr_q_RNO_0[5], uart_tx.un1_M_ctr_q_3_cry_5_c }
ble_pack uart_tx.M_ctr_q_RNO_0_6_LC_21_4_6 { uart_tx.M_ctr_q_RNO_0[6] }
ble_pack uart_tx.M_ctr_q_6_LC_21_4_7 { uart_tx.M_ctr_q_RNO[6], uart_tx.M_ctr_q[6] }
clb_pack LT_21_4 { uart_tx.M_ctr_q_0_LC_21_4_0, uart_tx.M_ctr_q_1_LC_21_4_1, uart_tx.M_ctr_q_RNO_0_2_LC_21_4_2, uart_tx.M_ctr_q_3_LC_21_4_3, uart_tx.M_ctr_q_4_LC_21_4_4, uart_tx.M_ctr_q_RNO_0_5_LC_21_4_5, uart_tx.M_ctr_q_RNO_0_6_LC_21_4_6, uart_tx.M_ctr_q_6_LC_21_4_7 }
set_location LT_21_4 21 4
ble_pack uart_tx.M_txReg_q_LC_22_1_2 { uart_tx.M_txReg_q_RNO, uart_tx.M_txReg_q }
clb_pack LT_22_1 { uart_tx.M_txReg_q_LC_22_1_2 }
set_location LT_22_1 22 1
ble_pack uart_tx.M_txReg_q_RNO_1_LC_22_2_0 { uart_tx.M_txReg_q_RNO_1 }
ble_pack uart_rx.M_ctr_q_RNI1LLV_1_LC_22_2_1 { uart_rx.M_ctr_q_RNI1LLV[1] }
ble_pack uart_rx.M_state_q_ns_1_0__m19_0_o2_LC_22_2_2 { uart_rx.M_state_q_ns_1_0_.m19_0_o2 }
ble_pack uart_rx.M_bitCtr_q_RNI578A4_0_LC_22_2_3 { uart_rx.M_bitCtr_q_RNI578A4[0] }
ble_pack uart_rx.M_state_q_ns_1_0__m19_0_a2_1_LC_22_2_4 { uart_rx.M_state_q_ns_1_0_.m19_0_a2_1 }
ble_pack uart_rx.M_ctr_q_RNIBJBV1_1_LC_22_2_5 { uart_rx.M_ctr_q_RNIBJBV1[1] }
ble_pack uart_rx.M_ctr_q_RNILBSE3_6_LC_22_2_6 { uart_rx.M_ctr_q_RNILBSE3[6] }
ble_pack uart_rx.M_state_q_RNIRDQO7_0_0_LC_22_2_7 { uart_rx.M_state_q_RNIRDQO7_0[0] }
clb_pack LT_22_2 { uart_tx.M_txReg_q_RNO_1_LC_22_2_0, uart_rx.M_ctr_q_RNI1LLV_1_LC_22_2_1, uart_rx.M_state_q_ns_1_0__m19_0_o2_LC_22_2_2, uart_rx.M_bitCtr_q_RNI578A4_0_LC_22_2_3, uart_rx.M_state_q_ns_1_0__m19_0_a2_1_LC_22_2_4, uart_rx.M_ctr_q_RNIBJBV1_1_LC_22_2_5, uart_rx.M_ctr_q_RNILBSE3_6_LC_22_2_6, uart_rx.M_state_q_RNIRDQO7_0_0_LC_22_2_7 }
set_location LT_22_2 22 2
ble_pack uart_tx.M_savedData_q_0_LC_22_3_0 { uart_tx.M_savedData_q_RNO[0], uart_tx.M_savedData_q[0] }
ble_pack uart_tx.M_state_q_RNILEFM_1_0_LC_22_3_1 { uart_tx.M_state_q_RNILEFM_1[0] }
ble_pack uart_tx.M_bitCtr_q_2_LC_22_3_2 { uart_tx.M_bitCtr_q_RNO[2], uart_tx.M_bitCtr_q[2] }
ble_pack uart_tx.M_txReg_q_RNO_5_LC_22_3_3 { uart_tx.M_txReg_q_RNO_5 }
ble_pack uart_tx.M_txReg_q_RNO_4_LC_22_3_4 { uart_tx.M_txReg_q_RNO_4 }
ble_pack uart_tx.M_bitCtr_q_0_LC_22_3_5 { uart_tx.M_bitCtr_q_RNO[0], uart_tx.M_bitCtr_q[0] }
ble_pack uart_tx.M_bitCtr_q_RNIMHCR_0_LC_22_3_6 { uart_tx.M_bitCtr_q_RNIMHCR[0] }
ble_pack uart_tx.M_bitCtr_q_1_LC_22_3_7 { uart_tx.M_bitCtr_q_RNO[1], uart_tx.M_bitCtr_q[1] }
clb_pack LT_22_3 { uart_tx.M_savedData_q_0_LC_22_3_0, uart_tx.M_state_q_RNILEFM_1_0_LC_22_3_1, uart_tx.M_bitCtr_q_2_LC_22_3_2, uart_tx.M_txReg_q_RNO_5_LC_22_3_3, uart_tx.M_txReg_q_RNO_4_LC_22_3_4, uart_tx.M_bitCtr_q_0_LC_22_3_5, uart_tx.M_bitCtr_q_RNIMHCR_0_LC_22_3_6, uart_tx.M_bitCtr_q_1_LC_22_3_7 }
set_location LT_22_3 22 3
ble_pack uart_tx.M_savedData_q_3_LC_22_4_0 { uart_tx.M_savedData_q_RNO[3], uart_tx.M_savedData_q[3] }
ble_pack uart_tx.M_txReg_q_RNO_2_LC_22_4_2 { uart_tx.M_txReg_q_RNO_2 }
ble_pack uart_tx.M_txReg_q_RNO_0_LC_22_4_3 { uart_tx.M_txReg_q_RNO_0 }
ble_pack uart_tx.M_ctr_q_2_LC_22_4_5 { uart_tx.M_ctr_q_RNO[2], uart_tx.M_ctr_q[2] }
ble_pack uart_tx.M_ctr_q_5_LC_22_4_7 { uart_tx.M_ctr_q_RNO[5], uart_tx.M_ctr_q[5] }
clb_pack LT_22_4 { uart_tx.M_savedData_q_3_LC_22_4_0, uart_tx.M_txReg_q_RNO_2_LC_22_4_2, uart_tx.M_txReg_q_RNO_0_LC_22_4_3, uart_tx.M_ctr_q_2_LC_22_4_5, uart_tx.M_ctr_q_5_LC_22_4_7 }
set_location LT_22_4 22 4
ble_pack greeter.M_state_q_RNO_3_LC_23_1_1 { greeter.M_state_q_RNO_3 }
ble_pack greeter.M_state_q_RNO_1_LC_23_1_2 { greeter.M_state_q_RNO_1 }
ble_pack uart_rx.M_state_q_ns_1_0__m22_0_LC_23_1_4 { uart_rx.M_state_q_ns_1_0_.m22_0 }
ble_pack uart_rx.M_state_q_1_LC_23_1_5 { uart_rx.M_state_q_RNO[1], uart_rx.M_state_q[1] }
ble_pack uart_rx.M_state_q_RNI62U94_0_LC_23_1_6 { uart_rx.M_state_q_RNI62U94[0] }
clb_pack LT_23_1 { greeter.M_state_q_RNO_3_LC_23_1_1, greeter.M_state_q_RNO_1_LC_23_1_2, uart_rx.M_state_q_ns_1_0__m22_0_LC_23_1_4, uart_rx.M_state_q_1_LC_23_1_5, uart_rx.M_state_q_RNI62U94_0_LC_23_1_6 }
set_location LT_23_1 23 1
ble_pack uart_rx.M_bitCtr_q_2_LC_23_2_0 { uart_rx.M_bitCtr_q_RNO[2], uart_rx.M_bitCtr_q[2] }
ble_pack uart_rx.M_newData_q_LC_23_2_1 { uart_rx.M_state_q_ns_1_0__m19_0_a2_1_uart_rx.M_newData_q_REP_LUT4_0, uart_rx.M_newData_q }
ble_pack uart_rx.M_state_q_RNIHM1R_0_LC_23_2_2 { uart_rx.M_state_q_RNIHM1R[0] }
ble_pack uart_rx.M_bitCtr_q_1_LC_23_2_3 { uart_rx.M_bitCtr_q_RNO[1], uart_rx.M_bitCtr_q[1] }
ble_pack uart_rx.M_bitCtr_q_0_LC_23_2_4 { uart_rx.M_bitCtr_q_RNO[0], uart_rx.M_bitCtr_q[0] }
ble_pack greeter.M_state_q_RNO_2_LC_23_2_5 { greeter.M_state_q_RNO_2 }
ble_pack greeter.M_state_q_LC_23_2_6 { greeter.M_state_q_RNO, greeter.M_state_q }
ble_pack greeter.M_state_q_RNO_0_LC_23_2_7 { greeter.M_state_q_RNO_0 }
clb_pack LT_23_2 { uart_rx.M_bitCtr_q_2_LC_23_2_0, uart_rx.M_newData_q_LC_23_2_1, uart_rx.M_state_q_RNIHM1R_0_LC_23_2_2, uart_rx.M_bitCtr_q_1_LC_23_2_3, uart_rx.M_bitCtr_q_0_LC_23_2_4, greeter.M_state_q_RNO_2_LC_23_2_5, greeter.M_state_q_LC_23_2_6, greeter.M_state_q_RNO_0_LC_23_2_7 }
set_location LT_23_2 23 2
ble_pack uart_tx.M_txReg_q_RNO_3_LC_23_3_0 { uart_tx.M_txReg_q_RNO_3 }
ble_pack uart_rx.M_state_q_ns_1_0__m19_0_0_LC_23_3_1 { uart_rx.M_state_q_ns_1_0_.m19_0_0 }
ble_pack uart_rx.M_state_q_0_LC_23_3_2 { uart_rx.M_state_q_RNO[0], uart_rx.M_state_q[0] }
ble_pack greeter.rom.letter_1_6_0__m5_0_LC_23_3_3 { greeter.rom.letter_1_6_0_.m5_0 }
ble_pack greeter.rom.letter_1_6_0__m23_i_LC_23_3_4 { greeter.rom.letter_1_6_0_.m23_i }
ble_pack uart_tx.M_savedData_q_6_LC_23_3_5 { uart_tx.M_savedData_q_RNO[6], uart_tx.M_savedData_q[6] }
ble_pack greeter.rom.letter_1_6_0__m12_i_LC_23_3_6 { greeter.rom.letter_1_6_0_.m12_i }
ble_pack uart_tx.M_savedData_q_2_LC_23_3_7 { uart_tx.M_savedData_q_RNO[2], uart_tx.M_savedData_q[2] }
clb_pack LT_23_3 { uart_tx.M_txReg_q_RNO_3_LC_23_3_0, uart_rx.M_state_q_ns_1_0__m19_0_0_LC_23_3_1, uart_rx.M_state_q_0_LC_23_3_2, greeter.rom.letter_1_6_0__m5_0_LC_23_3_3, greeter.rom.letter_1_6_0__m23_i_LC_23_3_4, uart_tx.M_savedData_q_6_LC_23_3_5, greeter.rom.letter_1_6_0__m12_i_LC_23_3_6, uart_tx.M_savedData_q_2_LC_23_3_7 }
set_location LT_23_3 23 3
ble_pack greeter.M_count_q_0_LC_23_4_0 { greeter.M_count_q_RNO[0], greeter.M_count_q[0], greeter.un1_M_count_q_1_cry_0_c }
ble_pack greeter.M_count_q_1_LC_23_4_1 { greeter.M_count_q_RNO[1], greeter.M_count_q[1], greeter.un1_M_count_q_1_cry_1_c }
ble_pack greeter.M_count_q_2_LC_23_4_2 { greeter.M_count_q_RNO[2], greeter.M_count_q[2], greeter.un1_M_count_q_1_cry_2_c }
ble_pack greeter.M_count_q_3_LC_23_4_3 { greeter.M_count_q_RNO[3], greeter.M_count_q[3] }
ble_pack greeter.rom.letter_1_6_0__m14_0_LC_23_4_5 { greeter.rom.letter_1_6_0_.m14_0 }
ble_pack greeter.rom.letter_1_6_0__m17_0_LC_23_4_6 { greeter.rom.letter_1_6_0_.m17_0 }
ble_pack uart_tx.M_savedData_q_4_LC_23_4_7 { uart_tx.M_savedData_q_RNO[4], uart_tx.M_savedData_q[4] }
clb_pack LT_23_4 { greeter.M_count_q_0_LC_23_4_0, greeter.M_count_q_1_LC_23_4_1, greeter.M_count_q_2_LC_23_4_2, greeter.M_count_q_3_LC_23_4_3, greeter.rom.letter_1_6_0__m14_0_LC_23_4_5, greeter.rom.letter_1_6_0__m17_0_LC_23_4_6, uart_tx.M_savedData_q_4_LC_23_4_7 }
set_location LT_23_4 23 4
ble_pack uart_rx.M_savedData_q_6_LC_24_1_0 { uart_rx.M_savedData_q_6_THRU_LUT4_0, uart_rx.M_savedData_q[6] }
clb_pack LT_24_1 { uart_rx.M_savedData_q_6_LC_24_1_0 }
set_location LT_24_1 24 1
ble_pack uart_rx.M_savedData_q_7_LC_24_2_1 { uart_rx.M_savedData_q_7_THRU_LUT4_0, uart_rx.M_savedData_q[7] }
ble_pack uart_rx.M_savedData_q_2_LC_24_2_2 { uart_rx.M_savedData_q_2_THRU_LUT4_0, uart_rx.M_savedData_q[2] }
ble_pack uart_rx.M_savedData_q_5_LC_24_2_3 { uart_rx.M_savedData_q_5_THRU_LUT4_0, uart_rx.M_savedData_q[5] }
ble_pack uart_rx.M_savedData_q_0_LC_24_2_4 { uart_rx.M_savedData_q_0_THRU_LUT4_0, uart_rx.M_savedData_q[0] }
ble_pack uart_rx.M_savedData_q_1_LC_24_2_5 { uart_rx.M_savedData_q_1_THRU_LUT4_0, uart_rx.M_savedData_q[1] }
ble_pack uart_rx.M_savedData_q_4_LC_24_2_6 { uart_rx.M_savedData_q_4_THRU_LUT4_0, uart_rx.M_savedData_q[4] }
ble_pack uart_rx.M_savedData_q_3_LC_24_2_7 { uart_rx.M_savedData_q_3_THRU_LUT4_0, uart_rx.M_savedData_q[3] }
clb_pack LT_24_2 { uart_rx.M_savedData_q_7_LC_24_2_1, uart_rx.M_savedData_q_2_LC_24_2_2, uart_rx.M_savedData_q_5_LC_24_2_3, uart_rx.M_savedData_q_0_LC_24_2_4, uart_rx.M_savedData_q_1_LC_24_2_5, uart_rx.M_savedData_q_4_LC_24_2_6, uart_rx.M_savedData_q_3_LC_24_2_7 }
set_location LT_24_2 24 2
ble_pack greeter.rom.letter_1_6_0__m20_i_LC_24_3_2 { greeter.rom.letter_1_6_0_.m20_i }
ble_pack uart_tx.M_savedData_q_5_LC_24_3_3 { uart_tx.M_savedData_q_RNO[5], uart_tx.M_savedData_q[5] }
ble_pack greeter.rom.letter_1_6_0__m9_0_LC_24_3_4 { greeter.rom.letter_1_6_0_.m9_0 }
ble_pack uart_tx.M_savedData_q_1_LC_24_3_5 { uart_tx.M_savedData_q_RNO[1], uart_tx.M_savedData_q[1] }
ble_pack greeter.M_state_q_RNO_4_LC_24_3_6 { greeter.M_state_q_RNO_4 }
clb_pack LT_24_3 { greeter.rom.letter_1_6_0__m20_i_LC_24_3_2, uart_tx.M_savedData_q_5_LC_24_3_3, greeter.rom.letter_1_6_0__m9_0_LC_24_3_4, uart_tx.M_savedData_q_1_LC_24_3_5, greeter.M_state_q_RNO_4_LC_24_3_6 }
set_location LT_24_3 24 3
ble_pack uart_rx.M_rxd_q_LC_26_1_2 { uart_rx.M_rxd_q_THRU_LUT4_0, uart_rx.M_rxd_q }
clb_pack LT_26_1 { uart_rx.M_rxd_q_LC_26_1_2 }
set_location LT_26_1 26 1
set_io usb_tx M9
set_io usb_rx P14
set_io rst_n P8
set_io led[7] N14
set_io led[6] M12
set_io led[5] L14
set_io led[4] L12
set_io led[3] K14
set_io led[2] K12
set_io led[1] K11
set_io led[0] J11
set_io clk P7
