set_location greeter.M_count_q_RNO[0] 23 4 0 # SB_LUT4 (LogicCell: greeter.M_count_q[0]_LC_0)
set_location greeter.M_count_q[0] 23 4 0 # SB_DFF (LogicCell: greeter.M_count_q[0]_LC_0)
set_location greeter.un1_M_count_q_1_cry_0_c 23 4 0 # SB_CARRY (LogicCell: greeter.M_count_q[0]_LC_0)
set_location greeter.M_count_q_RNO[1] 23 4 1 # SB_LUT4 (LogicCell: greeter.M_count_q[1]_LC_1)
set_location greeter.M_count_q[1] 23 4 1 # SB_DFF (LogicCell: greeter.M_count_q[1]_LC_1)
set_location greeter.un1_M_count_q_1_cry_1_c 23 4 1 # SB_CARRY (LogicCell: greeter.M_count_q[1]_LC_1)
set_location greeter.M_count_q_RNO[2] 23 4 2 # SB_LUT4 (LogicCell: greeter.M_count_q[2]_LC_2)
set_location greeter.M_count_q[2] 23 4 2 # SB_DFF (LogicCell: greeter.M_count_q[2]_LC_2)
set_location greeter.un1_M_count_q_1_cry_2_c 23 4 2 # SB_CARRY (LogicCell: greeter.M_count_q[2]_LC_2)
set_location greeter.M_count_q_RNO[3] 23 4 3 # SB_LUT4 (LogicCell: greeter.M_count_q[3]_LC_3)
set_location greeter.M_count_q[3] 23 4 3 # SB_DFF (LogicCell: greeter.M_count_q[3]_LC_3)
set_location greeter.M_state_q_RNO 23 2 6 # SB_LUT4 (LogicCell: greeter.M_state_q_LC_4)
set_location greeter.M_state_q 23 2 6 # SB_DFF (LogicCell: greeter.M_state_q_LC_4)
set_location greeter.M_state_q_RNO_0 23 2 7 # SB_LUT4 (LogicCell: greeter.M_state_q_RNO_0_LC_5)
set_location greeter.M_state_q_RNO_1 23 1 2 # SB_LUT4 (LogicCell: greeter.M_state_q_RNO_1_LC_6)
set_location greeter.M_state_q_RNO_2 23 2 5 # SB_LUT4 (LogicCell: greeter.M_state_q_RNO_2_LC_7)
set_location greeter.M_state_q_RNO_3 23 1 1 # SB_LUT4 (LogicCell: greeter.M_state_q_RNO_3_LC_8)
set_location greeter.M_state_q_RNO_4 24 3 6 # SB_LUT4 (LogicCell: greeter.M_state_q_RNO_4_LC_9)
set_location greeter.rom.letter_1_6_0_.m12_i 23 3 6 # SB_LUT4 (LogicCell: greeter.rom.letter_1_6_0_.m12_i_LC_10)
set_location greeter.rom.letter_1_6_0_.m14_0 23 4 5 # SB_LUT4 (LogicCell: greeter.rom.letter_1_6_0_.m14_0_LC_11)
set_location greeter.rom.letter_1_6_0_.m17_0 23 4 6 # SB_LUT4 (LogicCell: greeter.rom.letter_1_6_0_.m17_0_LC_12)
set_location greeter.rom.letter_1_6_0_.m20_i 24 3 2 # SB_LUT4 (LogicCell: greeter.rom.letter_1_6_0_.m20_i_LC_13)
set_location greeter.rom.letter_1_6_0_.m23_i 23 3 4 # SB_LUT4 (LogicCell: greeter.rom.letter_1_6_0_.m23_i_LC_14)
set_location greeter.rom.letter_1_6_0_.m5_0 23 3 3 # SB_LUT4 (LogicCell: greeter.rom.letter_1_6_0_.m5_0_LC_15)
set_location greeter.rom.letter_1_6_0_.m9_0 24 3 4 # SB_LUT4 (LogicCell: greeter.rom.letter_1_6_0_.m9_0_LC_16)
set_location reset_cond.M_stage_q_RNO[0] 20 2 7 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[0]_LC_17)
set_location reset_cond.M_stage_q[0] 20 2 7 # SB_DFF (LogicCell: reset_cond.M_stage_q[0]_LC_17)
set_location reset_cond.M_stage_q_RNO[1] 20 2 0 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[1]_LC_18)
set_location reset_cond.M_stage_q[1] 20 2 0 # SB_DFF (LogicCell: reset_cond.M_stage_q[1]_LC_18)
set_location reset_cond.M_stage_q_RNO[2] 20 2 3 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[2]_LC_19)
set_location reset_cond.M_stage_q[2] 20 2 3 # SB_DFF (LogicCell: reset_cond.M_stage_q[2]_LC_19)
set_location reset_cond.M_stage_q_RNO[3] 20 2 5 # SB_LUT4 (LogicCell: reset_cond.M_stage_q[3]_LC_20)
set_location reset_cond.M_stage_q[3] 20 2 5 # SB_DFF (LogicCell: reset_cond.M_stage_q[3]_LC_20)
set_location uart_rx.M_bitCtr_q_RNI578A4[0] 22 2 3 # SB_LUT4 (LogicCell: uart_rx.M_bitCtr_q_RNI578A4[0]_LC_21)
set_location uart_rx.M_bitCtr_q_RNO[0] 23 2 4 # SB_LUT4 (LogicCell: uart_rx.M_bitCtr_q[0]_LC_22)
set_location uart_rx.M_bitCtr_q[0] 23 2 4 # SB_DFF (LogicCell: uart_rx.M_bitCtr_q[0]_LC_22)
set_location uart_rx.M_bitCtr_q_RNO[1] 23 2 3 # SB_LUT4 (LogicCell: uart_rx.M_bitCtr_q[1]_LC_23)
set_location uart_rx.M_bitCtr_q[1] 23 2 3 # SB_DFF (LogicCell: uart_rx.M_bitCtr_q[1]_LC_23)
set_location uart_rx.M_bitCtr_q_RNO[2] 23 2 0 # SB_LUT4 (LogicCell: uart_rx.M_bitCtr_q[2]_LC_24)
set_location uart_rx.M_bitCtr_q[2] 23 2 0 # SB_DFF (LogicCell: uart_rx.M_bitCtr_q[2]_LC_24)
set_location uart_rx.M_ctr_q_RNI1LLV[1] 22 2 1 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q_RNI1LLV[1]_LC_25)
set_location uart_rx.M_ctr_q_RNI5PLV[3] 21 1 4 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q_RNI5PLV[3]_LC_26)
set_location uart_rx.M_ctr_q_RNIAC6F2[4] 21 1 5 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q_RNIAC6F2[4]_LC_27)
set_location uart_rx.M_ctr_q_RNIBJBV1[1] 22 2 5 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q_RNIBJBV1[1]_LC_28)
set_location uart_rx.M_ctr_q_RNILBSE3[6] 22 2 6 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q_RNILBSE3[6]_LC_29)
set_location uart_rx.M_ctr_q_RNO[0] 21 2 0 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q[0]_LC_30)
set_location uart_rx.M_ctr_q[0] 21 2 0 # SB_DFFSR (LogicCell: uart_rx.M_ctr_q[0]_LC_30)
set_location uart_rx.M_ctr_q_RNO[1] 21 2 2 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q[1]_LC_31)
set_location uart_rx.M_ctr_q[1] 21 2 2 # SB_DFFSR (LogicCell: uart_rx.M_ctr_q[1]_LC_31)
set_location uart_rx.M_ctr_q_RNO[2] 21 2 5 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q[2]_LC_32)
set_location uart_rx.M_ctr_q[2] 21 2 5 # SB_DFFSR (LogicCell: uart_rx.M_ctr_q[2]_LC_32)
set_location uart_rx.M_ctr_q_RNO[3] 21 2 6 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q[3]_LC_33)
set_location uart_rx.M_ctr_q[3] 21 2 6 # SB_DFFSR (LogicCell: uart_rx.M_ctr_q[3]_LC_33)
set_location uart_rx.M_ctr_q_RNO[4] 21 2 7 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q[4]_LC_34)
set_location uart_rx.M_ctr_q[4] 21 2 7 # SB_DFFSR (LogicCell: uart_rx.M_ctr_q[4]_LC_34)
set_location uart_rx.M_ctr_q_RNO[5] 21 2 3 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q[5]_LC_35)
set_location uart_rx.M_ctr_q[5] 21 2 3 # SB_DFFSR (LogicCell: uart_rx.M_ctr_q[5]_LC_35)
set_location uart_rx.M_ctr_q_RNO[6] 21 2 4 # SB_LUT4 (LogicCell: uart_rx.M_ctr_q[6]_LC_36)
set_location uart_rx.M_ctr_q[6] 21 2 4 # SB_DFFSR (LogicCell: uart_rx.M_ctr_q[6]_LC_36)
set_location uart_rx.M_state_q_RNI62U94[0] 23 1 6 # SB_LUT4 (LogicCell: uart_rx.M_state_q_RNI62U94[0]_LC_37)
set_location uart_rx.M_state_q_RNIHM1R[0] 23 2 2 # SB_LUT4 (LogicCell: uart_rx.M_state_q_RNIHM1R[0]_LC_38)
set_location uart_rx.M_state_q_RNIRDQO7[0] 21 2 1 # SB_LUT4 (LogicCell: uart_rx.M_state_q_RNIRDQO7[0]_LC_39)
set_location uart_rx.M_state_q_RNIRDQO7_0[0] 22 2 7 # SB_LUT4 (LogicCell: uart_rx.M_state_q_RNIRDQO7_0[0]_LC_40)
set_location uart_rx.M_state_q_RNO[0] 23 3 2 # SB_LUT4 (LogicCell: uart_rx.M_state_q[0]_LC_41)
set_location uart_rx.M_state_q[0] 23 3 2 # SB_DFF (LogicCell: uart_rx.M_state_q[0]_LC_41)
set_location uart_rx.M_state_q_RNO[1] 23 1 5 # SB_LUT4 (LogicCell: uart_rx.M_state_q[1]_LC_42)
set_location uart_rx.M_state_q[1] 23 1 5 # SB_DFF (LogicCell: uart_rx.M_state_q[1]_LC_42)
set_location uart_rx.M_state_q_ns_1_0_.m19_0_0 23 3 1 # SB_LUT4 (LogicCell: uart_rx.M_state_q_ns_1_0_.m19_0_0_LC_43)
set_location uart_rx.M_state_q_ns_1_0_.m19_0_a2_1 22 2 4 # SB_LUT4 (LogicCell: uart_rx.M_state_q_ns_1_0_.m19_0_a2_1_LC_44)
set_location uart_rx.M_state_q_ns_1_0_.m19_0_o2 22 2 2 # SB_LUT4 (LogicCell: uart_rx.M_state_q_ns_1_0_.m19_0_o2_LC_45)
set_location uart_rx.M_state_q_ns_1_0_.m22_0 23 1 4 # SB_LUT4 (LogicCell: uart_rx.M_state_q_ns_1_0_.m22_0_LC_46)
set_location uart_tx.M_bitCtr_q_RNIMHCR[0] 22 3 6 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q_RNIMHCR[0]_LC_47)
set_location uart_tx.M_bitCtr_q_RNIR97K3[1] 21 3 5 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q_RNIR97K3[1]_LC_48)
set_location uart_tx.M_bitCtr_q_RNO[0] 22 3 5 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q[0]_LC_49)
set_location uart_tx.M_bitCtr_q[0] 22 3 5 # SB_DFF (LogicCell: uart_tx.M_bitCtr_q[0]_LC_49)
set_location uart_tx.M_bitCtr_q_RNO[1] 22 3 7 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q[1]_LC_50)
set_location uart_tx.M_bitCtr_q[1] 22 3 7 # SB_DFF (LogicCell: uart_tx.M_bitCtr_q[1]_LC_50)
set_location uart_tx.M_bitCtr_q_RNO[2] 22 3 2 # SB_LUT4 (LogicCell: uart_tx.M_bitCtr_q[2]_LC_51)
set_location uart_tx.M_bitCtr_q[2] 22 3 2 # SB_DFF (LogicCell: uart_tx.M_bitCtr_q[2]_LC_51)
set_location uart_tx.M_ctr_q_RNI3KTJ2[0] 21 3 4 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNI3KTJ2[0]_LC_52)
set_location uart_tx.M_ctr_q_RNIOOUF1[6] 21 3 3 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNIOOUF1[6]_LC_53)
set_location uart_tx.M_ctr_q_RNO[0] 21 4 0 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[0]_LC_54)
set_location uart_tx.M_ctr_q[0] 21 4 0 # SB_DFF (LogicCell: uart_tx.M_ctr_q[0]_LC_54)
set_location uart_tx.un1_M_ctr_q_3_cry_0_c 21 4 0 # SB_CARRY (LogicCell: uart_tx.M_ctr_q[0]_LC_54)
set_location uart_tx.M_ctr_q_RNO_0[2] 21 4 2 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNO_0[2]_LC_55)
set_location uart_tx.un1_M_ctr_q_3_cry_2_c 21 4 2 # SB_CARRY (LogicCell: uart_tx.M_ctr_q_RNO_0[2]_LC_55)
set_location uart_tx.M_ctr_q_RNO_0[5] 21 4 5 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNO_0[5]_LC_56)
set_location uart_tx.un1_M_ctr_q_3_cry_5_c 21 4 5 # SB_CARRY (LogicCell: uart_tx.M_ctr_q_RNO_0[5]_LC_56)
set_location uart_tx.M_ctr_q_RNO_0[6] 21 4 6 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q_RNO_0[6]_LC_57)
set_location uart_tx.M_ctr_q_RNO[1] 21 4 1 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[1]_LC_58)
set_location uart_tx.M_ctr_q[1] 21 4 1 # SB_DFF (LogicCell: uart_tx.M_ctr_q[1]_LC_58)
set_location uart_tx.un1_M_ctr_q_3_cry_1_c 21 4 1 # SB_CARRY (LogicCell: uart_tx.M_ctr_q[1]_LC_58)
set_location uart_tx.M_ctr_q_RNO[2] 22 4 5 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[2]_LC_59)
set_location uart_tx.M_ctr_q[2] 22 4 5 # SB_DFF (LogicCell: uart_tx.M_ctr_q[2]_LC_59)
set_location uart_tx.M_ctr_q_RNO[3] 21 4 3 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[3]_LC_60)
set_location uart_tx.M_ctr_q[3] 21 4 3 # SB_DFF (LogicCell: uart_tx.M_ctr_q[3]_LC_60)
set_location uart_tx.un1_M_ctr_q_3_cry_3_c 21 4 3 # SB_CARRY (LogicCell: uart_tx.M_ctr_q[3]_LC_60)
set_location uart_tx.M_ctr_q_RNO[4] 21 4 4 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[4]_LC_61)
set_location uart_tx.M_ctr_q[4] 21 4 4 # SB_DFF (LogicCell: uart_tx.M_ctr_q[4]_LC_61)
set_location uart_tx.un1_M_ctr_q_3_cry_4_c 21 4 4 # SB_CARRY (LogicCell: uart_tx.M_ctr_q[4]_LC_61)
set_location uart_tx.M_ctr_q_RNO[5] 22 4 7 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[5]_LC_62)
set_location uart_tx.M_ctr_q[5] 22 4 7 # SB_DFF (LogicCell: uart_tx.M_ctr_q[5]_LC_62)
set_location uart_tx.M_ctr_q_RNO[6] 21 4 7 # SB_LUT4 (LogicCell: uart_tx.M_ctr_q[6]_LC_63)
set_location uart_tx.M_ctr_q[6] 21 4 7 # SB_DFF (LogicCell: uart_tx.M_ctr_q[6]_LC_63)
set_location uart_tx.M_savedData_q_RNO[0] 22 3 0 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[0]_LC_64)
set_location uart_tx.M_savedData_q[0] 22 3 0 # SB_DFF (LogicCell: uart_tx.M_savedData_q[0]_LC_64)
set_location uart_tx.M_savedData_q_RNO[1] 24 3 5 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[1]_LC_65)
set_location uart_tx.M_savedData_q[1] 24 3 5 # SB_DFF (LogicCell: uart_tx.M_savedData_q[1]_LC_65)
set_location uart_tx.M_savedData_q_RNO[2] 23 3 7 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[2]_LC_66)
set_location uart_tx.M_savedData_q[2] 23 3 7 # SB_DFF (LogicCell: uart_tx.M_savedData_q[2]_LC_66)
set_location uart_tx.M_savedData_q_RNO[3] 22 4 0 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[3]_LC_67)
set_location uart_tx.M_savedData_q[3] 22 4 0 # SB_DFF (LogicCell: uart_tx.M_savedData_q[3]_LC_67)
set_location uart_tx.M_savedData_q_RNO[4] 23 4 7 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[4]_LC_68)
set_location uart_tx.M_savedData_q[4] 23 4 7 # SB_DFF (LogicCell: uart_tx.M_savedData_q[4]_LC_68)
set_location uart_tx.M_savedData_q_RNO[5] 24 3 3 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[5]_LC_69)
set_location uart_tx.M_savedData_q[5] 24 3 3 # SB_DFF (LogicCell: uart_tx.M_savedData_q[5]_LC_69)
set_location uart_tx.M_savedData_q_RNO[6] 23 3 5 # SB_LUT4 (LogicCell: uart_tx.M_savedData_q[6]_LC_70)
set_location uart_tx.M_savedData_q[6] 23 3 5 # SB_DFF (LogicCell: uart_tx.M_savedData_q[6]_LC_70)
set_location uart_tx.M_state_q_RNILEFM[0] 21 3 0 # SB_LUT4 (LogicCell: uart_tx.M_state_q_RNILEFM[0]_LC_71)
set_location uart_tx.M_state_q_RNILEFM_0[0] 21 3 1 # SB_LUT4 (LogicCell: uart_tx.M_state_q_RNILEFM_0[0]_LC_72)
set_location uart_tx.M_state_q_RNILEFM_1[0] 22 3 1 # SB_LUT4 (LogicCell: uart_tx.M_state_q_RNILEFM_1[0]_LC_73)
set_location uart_tx.M_state_q_RNO[0] 21 3 7 # SB_LUT4 (LogicCell: uart_tx.M_state_q[0]_LC_74)
set_location uart_tx.M_state_q[0] 21 3 7 # SB_DFF (LogicCell: uart_tx.M_state_q[0]_LC_74)
set_location uart_tx.M_state_q_RNO_0[0] 21 3 6 # SB_LUT4 (LogicCell: uart_tx.M_state_q_RNO_0[0]_LC_75)
set_location uart_tx.M_state_q_RNO[1] 21 3 2 # SB_LUT4 (LogicCell: uart_tx.M_state_q[1]_LC_76)
set_location uart_tx.M_state_q[1] 21 3 2 # SB_DFF (LogicCell: uart_tx.M_state_q[1]_LC_76)
set_location uart_tx.M_txReg_q_RNO 22 1 2 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_LC_77)
set_location uart_tx.M_txReg_q 22 1 2 # SB_DFFSS (LogicCell: uart_tx.M_txReg_q_LC_77)
set_location uart_tx.M_txReg_q_RNO_0 22 4 3 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_0_LC_78)
set_location uart_tx.M_txReg_q_RNO_1 22 2 0 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_1_LC_79)
set_location uart_tx.M_txReg_q_RNO_2 22 4 2 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_2_LC_80)
set_location uart_tx.M_txReg_q_RNO_3 23 3 0 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_3_LC_81)
set_location uart_tx.M_txReg_q_RNO_4 22 3 4 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_4_LC_82)
set_location uart_tx.M_txReg_q_RNO_5 22 3 3 # SB_LUT4 (LogicCell: uart_tx.M_txReg_q_RNO_5_LC_83)
set_location uart_rx.M_rxd_q_THRU_LUT4_0 26 1 2 # SB_LUT4 (LogicCell: uart_rx.M_rxd_q_LC_84)
set_location uart_rx.M_rxd_q 26 1 2 # SB_DFF (LogicCell: uart_rx.M_rxd_q_LC_84)
set_location uart_rx.M_savedData_q_0_THRU_LUT4_0 24 2 4 # SB_LUT4 (LogicCell: uart_rx.M_savedData_q[0]_LC_85)
set_location uart_rx.M_savedData_q[0] 24 2 4 # SB_DFFE (LogicCell: uart_rx.M_savedData_q[0]_LC_85)
set_location uart_rx.M_savedData_q_1_THRU_LUT4_0 24 2 5 # SB_LUT4 (LogicCell: uart_rx.M_savedData_q[1]_LC_86)
set_location uart_rx.M_savedData_q[1] 24 2 5 # SB_DFFE (LogicCell: uart_rx.M_savedData_q[1]_LC_86)
set_location uart_rx.M_savedData_q_2_THRU_LUT4_0 24 2 2 # SB_LUT4 (LogicCell: uart_rx.M_savedData_q[2]_LC_87)
set_location uart_rx.M_savedData_q[2] 24 2 2 # SB_DFFE (LogicCell: uart_rx.M_savedData_q[2]_LC_87)
set_location uart_rx.M_savedData_q_3_THRU_LUT4_0 24 2 7 # SB_LUT4 (LogicCell: uart_rx.M_savedData_q[3]_LC_88)
set_location uart_rx.M_savedData_q[3] 24 2 7 # SB_DFFE (LogicCell: uart_rx.M_savedData_q[3]_LC_88)
set_location uart_rx.M_savedData_q_4_THRU_LUT4_0 24 2 6 # SB_LUT4 (LogicCell: uart_rx.M_savedData_q[4]_LC_89)
set_location uart_rx.M_savedData_q[4] 24 2 6 # SB_DFFE (LogicCell: uart_rx.M_savedData_q[4]_LC_89)
set_location uart_rx.M_savedData_q_5_THRU_LUT4_0 24 2 3 # SB_LUT4 (LogicCell: uart_rx.M_savedData_q[5]_LC_90)
set_location uart_rx.M_savedData_q[5] 24 2 3 # SB_DFFE (LogicCell: uart_rx.M_savedData_q[5]_LC_90)
set_location uart_rx.M_savedData_q_6_THRU_LUT4_0 24 1 0 # SB_LUT4 (LogicCell: uart_rx.M_savedData_q[6]_LC_91)
set_location uart_rx.M_savedData_q[6] 24 1 0 # SB_DFFE (LogicCell: uart_rx.M_savedData_q[6]_LC_91)
set_location uart_rx.M_savedData_q_7_THRU_LUT4_0 24 2 1 # SB_LUT4 (LogicCell: uart_rx.M_savedData_q[7]_LC_92)
set_location uart_rx.M_savedData_q[7] 24 2 1 # SB_DFFE (LogicCell: uart_rx.M_savedData_q[7]_LC_92)
set_location uart_rx.M_state_q_ns_1_0__m19_0_a2_1_uart_rx.M_newData_q_REP_LUT4_0 23 2 1 # SB_LUT4 (LogicCell: uart_rx.M_newData_q_LC_93)
set_location uart_rx.M_newData_q 23 2 1 # SB_DFF (LogicCell: uart_rx.M_newData_q_LC_93)
set_location GND -1 -1 -1 # GND
set_io clk_ibuf_gb_io 16 0 1 # ICE_GB_IO
set_io led_obuf[0] 33 6 0 # ICE_IO
set_io led_obuf[1] 33 4 1 # ICE_IO
set_io led_obuf[2] 33 4 0 # ICE_IO
set_io led_obuf[3] 33 5 0 # ICE_IO
set_io led_obuf[4] 33 2 0 # ICE_IO
set_io led_obuf[5] 33 3 1 # ICE_IO
set_io led_obuf[6] 33 1 0 # ICE_IO
set_io led_obuf[7] 33 2 1 # ICE_IO
set_io rst_n_ibuf 17 0 0 # ICE_IO
set_io usb_rx_ibuf 33 1 1 # ICE_IO
set_io usb_tx_obuf 22 0 1 # ICE_IO
